@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>This web application assumes that an RPi relay board is mounted in the Raspberry Pi</p>
    <img src="images/RPi-relay-board-mounted.jpg" />
</div>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Relay 1</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    <button type="button" class="w-100 btn btn-lg btn-primary">ON</button>
                    <input type="hidden" name="on" value="true" />
                    <input type="hidden" name="relay" value="0" />
                </form>
                <br />
                <br />
                <form method="post">
                    <button type="button" class="w-100 btn btn-lg btn-primary">OFF</button>
                    <input type="hidden" name="on" value="false" />
                    <input type="hidden" name="relay" value="0" />
                </form>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Relay 2</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    <button type="button" class="w-100 btn btn-lg btn-primary">ON</button>
                    <input type="hidden" name="on" value="true" />
                    <input type="hidden" name="relay" value="1" />
                </form>
                <br />
                <br />
                <form method="post">
                    <button type="button" class="w-100 btn btn-lg btn-primary">OFF</button>
                    <input type="hidden" name="on" value="false" />
                    <input type="hidden" name="relay" value="1" />
                </form>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Relay 3</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    <button type="button" class="w-100 btn btn-lg btn-primary">ON</button>
                    <input type="hidden" name="on" value="true" />
                    <input type="hidden" name="relay" value="2" />
                </form>
                <br />
                <br />
                <form method="post">
                    <button type="button" class="w-100 btn btn-lg btn-primary">OFF</button>
                    <input type="hidden" name="on" value="false" />
                    <input type="hidden" name="relay" value="2" />
                </form>
            </div>
        </div>
    </div>
</div>
